<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3655144631471005",
    enable_page_level_ads: true
  });
</script>
</head>
<body>
<body background="https://image.redbull.com/rbcom/052/2018-05-30/807dd44a-7fa8-405c-83d6-719f76f527e1/0012/0/1/0/2134/3200/1500/1/bc-one-world-final-2017-arena.jpg" opacity = 0.1>
<div>
  <div class='center'>
    <div class='title'> IDENTIFY BREAKDANCE POWERMOVES </div>
    <img src = "https://media.giphy.com/media/lvClsfvqyb7S8/giphy.gif" height = 200>
	  <img src = 'https://i.pinimg.com/originals/75/5e/50/755e509a9ea32d4f2f194ba03d18ec10.gif' height = 200>
	  <img src = 'https://i.imgur.com/OzjZGMW.gif' height = 200>
    <p>
      Use images of <strong>Windmills</strong>, <strong>Thomas</strong> or <strong>Air Flares</strong>!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
